## .NET
bin/
obj/
*.user
*.suo
.vs/
*.log

## Environment & Secrets
appsettings.Development.json
appsettings.Production.json
*.env

## Docker
docker-compose.override.yml

## Node (Angular)
node_modules/
dist/
.angular/

## OS
.DS_Store
Thumbs.db